/*
 *  form
 */

.form {
    width: 100%;
}

.form-row {
    position: relative;
    margin: 15px 0 0;
}

.form-row:first-child {
    margin-top: 0;
}

.form-row:before,
.form-row:after {
    content: "";
    display: table;
}

.form-row:after {
    clear: both;
}

.form-input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 6px 12px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.form-input:focus {
    border-color: #000;
}

.form-submit button {
    box-shadow: none;
    border-color: transparent;
    background-color: #f47823;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-submit button:hover {
    background-color: #ea6d18;
}

.form-error {
    margin: 5px 0 0;
    font-weight: 400;
    color: #a94442;
}

.form-message {
    margin: 5px 0 0;
    font-weight: 600;
    color: #f47823;
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .form-submit button {
        height: 40px;
        line-height: 40px;
    }
}

@media screen and (min-width: 768px) {
    .form-row {
        padding-left: 200px;
    }

    .form-row label {
        position: absolute;
        left: 0;
        top: 0;
    }

    .form-submit button {
        height: 50px;
        line-height: 50px;
    }
}